.items {
    margin-top: 35px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.imageContainer {
    flex: 1;
    aspect-ratio: 1/1;
    position: relative;
}

.image {
    border-radius: 50%;
    object-fit: cover;
}

.textContainer {
    display: flex;
    flex: 4;
    flex-direction: column;
    gap: 5px;
}

.category {
    padding: 3px 8px;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    width: max-content;
}

.category.style {
    background-color: #57c4ff31;
}

.category.fashion {
    background-color: #da85c731;
}

.category.food {
    background-color: #7fb88133;
}

.category.travel {
    background-color: #ff795736;
}

.category.culture {
    background-color: #ffb04f45;
}

.category.coding {
    background-color: #5e4fff31;
}

.postTitle {
    font-size: 18px;
    font-weight: 500;
    color: var(--softTextColor);
}

.detail {
    font-size: 12px;
}

.date {
    color: gray;
}
